- content_for(:title, 'About FamilyBlogs')

.row
  .large-12.columns
    / Desktop Slider
    .hide-for-small
      #featured
        %img{:alt => "slide image", :src => "http://placehold.it/1000x400&text=Slide Image"}/
        /
          <img src="http://placehold.it/1000x400&amp;text=Slide Image" alt="slide image">
          <img src="http://placehold.it/1000x400&amp;text=Slide Image" alt="slide image">
    / End Desktop Slider
    / Mobile Header
    .row
      .small-12.show-for-small
        %br/
        %img{:src => "http://placehold.it/1000x600&text=For Small Screens"}/
    / End Mobile Header
%br/
.row
  .large-12.columns
    .row
      / Thumbnails
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      / End Thumbnails
.row
  .large-12.columns
    .row
      / Content
      .large-8.columns
        .panel.radius
          .row
            .large-6.small-6.columns
              %h4 Header
              %hr/
              %h5.subheader
                Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim
                nibh fermentum odio ornare sagittis.
              .show-for-small{:align => "center"}
                %a.small.radius.button{:href => "#"} Call To Action!
                %br/
                %a.small.radius.button{:href => "#"} Call To Action!
            .large-6.small-6.columns
              %p
                Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus at
                dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat erat,
                eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.
      .large-4.columns.hide-for-small
        %h4 Get In Touch!
        %hr/
        %a.large.button.expand{:href => "#"}
          Call To Action!
        %a.large.button.expand{:href => "#"}
          Call To Action!
      / End Content
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
= yield
= javascript_include_tag "application"
