
- content_for :meta do
  %meta{ property: "fb:app_id"       ,   content: "1413119312251157"}
  %meta{ property: "og:type"         ,   content: "article"}
  %meta{ property: "og:url"          ,   content: "http://familyblogs.ca:3000/pages/facebook" }
  %meta{ property: "og:title"        ,   content: "Test FB Button" }
  %meta{ property: "og:image"        ,   content: image_url('angular.png')}

- provide :title, 'Testing Facebook'

%p Facebook Like Button
= yield :meta2